.menu {
    background-color: #ffffff60;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    position: fixed;
    padding: 15px;
    top: 0;
    width: 100vw;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.btn_menu {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
}

.btn_menu div {
    background-color: var(--verdeClaro);
    height: 4px;
    width: 46px;
    border-radius: 800px;
    transition: opacity .3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
    .btn_menu:hover div {
        opacity: .7;
    }
}

.btn_menu:active div {
    opacity: .7;
}